<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Embitel\Mymodule\plugin\Cart">
        <plugin name="beforeAddProduct" type="Embitel\Mymodule\plugin\Cart" sortOrder="1" />
    </type>
      <preference for="Magento/Sales/Block/Order/View" type="Form/Empmodule/Block/Order/View"/>
    <preference for="Magento/Sales/Model/Order" type="Form/Empmodule/Model/Order"/>
</config>